:root {
    --navbar-background: #18191b;
    --navbar-text-color: #D0D0D1;
    --navbar-accent: #F58120;
}

.navbar{
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.links-container{
    border-radius: 50px;
    padding: 10px;
    width: min-content;
    box-sizing: border-box;

    background-color: var(--navbar-background);

    -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.25);

    text-transform: capitalize;
}

.link {
    padding: 3px 35px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;

    background-color: var(--navbar-background);
    color: var(--navbar-text-color);

    text-decoration: none;
    border-bottom: 0 solid var(--navbar-accent);
    
}

.link:hover{
    border-bottom: 2px solid var(--navbar-accent);

}